name: PostgreSQL service
on:
  push:
    branches:
      - smokeWithCypress
  pull_request:
    branches:
      - smokeWithCypress

jobs:
  dbzui-zookeeper:
    runs-on: ubuntu-latest
    container: node:10.18-jessie

    services:
      zookeeper:
        image: debezium/zookeeper:1.5
    steps:
      # Downloads a copy of the code in your repository before running CI tests
      - name: Check out repository code
        uses: actions/checkout@v2

  dbzui-kafka:
    runs-on: ubuntu-latest
    container: node:10.18-jessie

    services:
      kafka:
        image: debezium/kafka:1.5
        ports:
          - 9092:9092

    steps:
      # Downloads a copy of the code in your repository before running CI tests
      - name: Check out repository code
        uses: actions/checkout@v2    

  dbzui-db-pg:
    runs-on: ubuntu-latest
    container: node:10.18-jessie

    services:
      postgres:
        image: debezium/example-postgres:1.5
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres

        ports:
          - 65432:5432

    steps:
      # Downloads a copy of the code in your repository before running CI tests
      - name: Check out repository code
        uses: actions/checkout@v2        