name: PostgreSQL service
on:
  push:
    branches:
      - smokeWithCypress
  pull_request:
    branches:
      - smokeWithCypress

jobs:
  dbzui-zookeeper:
    runs-on: ubuntu-latest
    container: node:10.18-jessie

    services:
      zookeeper:
        image: debezium/zookeeper:1.5
    steps:
      # Downloads a copy of the code in your repository before running CI tests
      - name: Check out repository code
        uses: actions/checkout@v2

  dbzui-kafka:
    if: always()
    needs: dbzui-zookeeper
    runs-on: ubuntu-latest
    container: node:10.18-jessie

    services:
      kafka:
        image: debezium/kafka:1.5
        ports:
          - 9092:9092
        env: 
          ZOOKEEPER_CONNECT: dbzui-zookeeper:2181

    steps:
      # Downloads a copy of the code in your repository before running CI tests
      - name: Check out repository code
        uses: actions/checkout@v2    

  dbzui-db-pg:
    if: always()
    needs: [dbzui-zookeeper, dbzui-kafka]
    runs-on: ubuntu-latest
    container: node:10.18-jessie

    services:
      postgres:
        image: debezium/example-postgres:1.5
        ports:
          - 65432:5432
        env: 
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres

    steps:
      # Downloads a copy of the code in your repository before running CI tests
      - name: Check out repository code
        uses: actions/checkout@v2     

  dbzui-connect:
    if: always()
    needs: [dbzui-zookeeper, dbzui-kafka, dbzui-db-pg]
    runs-on: ubuntu-latest
    container: node:10.18-jessie
    services:
      connect:
        image: debezium/connect:1.5
        ports:
          - 8083:8083

        env:
          BOOTSTRAP_SERVERS: dbzui-kafka:9092
          GROUP_ID: 1
          CONFIG_STORAGE_TOPIC: my_connect_configs
          OFFSET_STORAGE_TOPIC: my_connect_offsets
          STATUS_STORAGE_TOPIC: my_connect_statuses    

    steps:
      # Downloads a copy of the code in your repository before running CI tests
      - name: Check out repository code
        uses: actions/checkout@v2    

  dbzui-backend:
    runs-on: ubuntu-18.04
    env:
      DEBEZIUM_VERSION: "v1.5.0.Beta1"
    steps:
      # Downloads a copy of the code in your repository before running CI tests
      - name: Checkout Debezium UI
        uses: actions/checkout@v2       
      - name: Docker build
        run: docker build . --file Dockerfile --tag dbzui-backend:$(date +%s)